<form id="new_post">
<label for="post-title">Title</label>
<input type="text" name="post[title]" id="post-title" value="<%= model.title %>">
<br>
<label for="post-body">Body</label>
<br>
<textarea name="post[body]" rows="8" cols="40" id="post-body"><%= model.body %>
</textarea>

<button class="submit_new_btn">Submit</button>

</form>